.details-name{
    text-align: center;
    background-color: #deb8872b;
    border: 1px solid rgb(249 171 0 / 20%);
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.details{
    margin: auto;
    text-align: center;
    font-size: x-large;
    padding: 0.5em;
    border: 1px solid rgb(249 171 0 / 20%);
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.details-box{
    font-size: x-large;
    padding: 0.5em;
    background-color: #deb8872b;;
}


.img{
    width: 100%;
}
.title{
    font-weight: 300;
    font-size: 2.6vw;
    padding: 1em;
    text-align: center;
}